* {
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: baseline;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  border: black;
  color: white;
}

.box1, .box5 {
  width: 100px;
  height: 70px;
  font-size: 1.5em;
  background-color: #ffcdd2;
}

.box3 {
  width: 240px;
  height: 160px;
  font-size: 5em;
  background-color: #e57373
}

.box2, .box4 {
  width: 150px;
  height: 100px;
  font-size: 2.5em;
  background-color: #ef9a9a
}
