/* Multiple variables in SASS */

$textColor: #3D3D3D;
$backgroundColor: #6D6D6D;

body {
  color: $textColor;
  background-color: $backgroundColor;
}

p {
  color: $textColor;
}

h2 {
  background-color: $backgroundColor;
}
